<figure class='logo'>
  <a href='/' title='Shady Grove Brewing Company'>
    <img class='logo-image' src='/images/shady-grove-logo.png' alt='Shady Grove Brewing Company | Home Brewing in Lafayette Colorado since 2018'/>
  </a>
</figure>