<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700|Rye" rel="stylesheet" />
    <link href="./style.css" type="text/css" rel="stylesheet" />
    <title>{{title}}</title>
  </head>
  <body>
    {% include 'header.njk' %}
    {{ content | safe }}
  </body>
</html>