<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700|Rye" rel="stylesheet" />
    <style>{% include "main.css" %}</style>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <title>{{title}}</title>
  </head>
  <body>
    <div class="wrapper">
      {% include 'header.njk' %}
      <main>
        {{ content | safe }}
      </main>
    </div>
  </body>
</html>