@import './colors.scss';

@mixin imgBordered() {
  box-shadow: 2px 4px 4px $charcoal;
  border: 4px solid white;
}

html {
  font-size: 62.5%;
  background: url('/images/hops-400.png') 100% $cream;
}

body {
 font-family: 'Lora', serif; 
 font-size: 1.8rem;
 line-height: 1.8;
}

img {
 width: 100%;
}

a {
  color: darken($bluebird, 10%);
  text-decoration: dashed;
  
  &:hover {
    color: darken($bluebird, 40%);
  }
}

.wrapper {
  background: lighten($cream, 7%);
  max-width: 90rem;
  margin: 0 auto;
  padding: 4rem;
  border-radius: 2px;
  border: 4px solid $chocolate;
}

.logo {
  margin: 1rem 0;
}

.title {
  font-family: 'Rye', cursive;
  a {
    text-decoration: none;
    color: darken($mauve, 20%);
    text-shadow: 2px 0 0 $cream, 4px 2px 0 $pumpkin;
    
    &:hover {
      color: $chocolate;
      transition: all 1s;
    }
  }
}

.logo h1, .logo h4 {
  margin: 0;
}

.intro {
  content: "";
  clear: both;
  display: table;
  .profile {
    @include imgBordered();
    width: 25%;
    float: left;
    margin: 0 2rem 2rem 0;
  }
}

.content {
 
  .post-image {
    margin: 0 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
      @include imgBordered();
      max-width: 70%;
      height: auto;
      margin: 2rem auto;
    }
  }
  
  p {
    margin: 0 0 3rem;
  }
  
  dl {
    font-family: sans-serif;
    lettter-spacing: 2px;
    max-width: 60%;
    color: $charcoal;
    text-shadow: 1px 0 0 $charcoal;
    border: 2px dotted $charcoal;
    background: lighten($cantelope, 10%);
    padding: 2rem;
    
    dt {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    dd {
      margin: 0 0 1rem;
      color: lighten($gray, 40%);
      
    }
  }
}

.listing {
  li {
    p {
      margin-bottom: 1rem;
    }
  }
}

