@import './colors.scss';

html {
  font-size: 62.5%;
  background: url('/images/hops-400.png') 100% $cream;
}

body {
 font-family: 'Lora', serif; 
 font-size: 18px;
 font-size: 1.8rem;
}

img {
 width: 100%;
}

a {
  color: darken($bluebird, 10%);
  text-decoration: dashed;
  
  &:hover {
    color: darken($bluebird, 40%);
  }
}

.wrapper {
  background: $cream;
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 2px;
  border: 4px solid $chocolate;
}

.logo {
  margin: 1rem 0;
}

.title {
  font-family: 'Rye', cursive;
}

.title {
  a {
    text-decoration: none;
    color: darken($mauve, 20%);
    text-shadow: 2px 0 0 $cream, 4px 2px 0 $pumpkin;
    
    &:hover {
      color: $chocolate;
      transition: all 1s;
    }
  }
}

.logo h1, .logo h4 {
  margin: 0;
}

p {
  margin: 0 0 1rem;
}